body {
    background-color: #F8F9FA
}

.navbar {
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.container-body {
    margin-top: 60px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    opacity: .09;
    width: 400px;
    height: auto;
}


.overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
}

.overlay-genre {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
}

.overlay-genre h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

.sectionHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.movie-image img {
    width: 40%;
}

.search-result {
    border: 2px solid black;
}

.divScroll {
    display: flex;
    flex-wrap: wrap;
}

.provider {
    margin-bottom: 5px;
    width: 30px;
    height: auto;
    border-radius: 10%;
    margin-right: 10px;
}

.providerImage{
    width: 30px;
    height: auto;
    border-radius: 10%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.movie-info {
    margin-bottom: 10px;
}

.movie-image {
    width: 300px;
    margin-right: 20px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.providers-container {
    display: flex;
    flex-wrap: wrap;
}




