body {
    background-color: #F8F9FA
}

.navbar {
    border-bottom: 1px solid black;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    opacity: .09;
}


.overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
}

.overlay h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

.sectionHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.calendar {

}

.movie-image img {
    width: 25%;
    height: 50%;
}
